#header{
	min-height: 100px;
	background-color: #eee;
	padding: 10px;
	border-bottom: 5px solid #00A2D7;
}
#header-menu{
	padding:20px 0px;
}
/*#header-menu .nav{
	text-align: center; 
}*/

#footer{
	padding:10px;
	/*background-color: #000;*/
	color: #000;
	border-top: 2px solid #00A2D7;

}
#main{
	margin:10px 0px;
	min-height: 600px;
}
.col-centerd{
	float: none;
	margin: 0 auto;
}
.powered{
	text-align: right;
}
h3.home-title{
	text-align: center;
}
div.home-icon{
	margin-bottom: 20px;
	font-size:60px;
	text-align: center;
	display: block;
}
.home-quote{
	text-align: center;
	margin-top:10px;
	padding : 0px 0px;
	border-top: 1px solid #00A2D7;
	border-bottom: 1px solid #00A2D7;
	font-style: italic;
}
body {
	min-height: 2000px;
}
.item{
	max-height: 600px;
	
}
.home-row{
	margin-bottom: 20px

}
#home-sub-nav{
	margin-top: 20px;
}