

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 0;
  max-width: 570px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  border-radius: 10px;
}

.loginmodal-container .nav-tabs {
	border: none;
}

.loginmodal-container .nav-tabs > li {
	width: 50%;
}

.loginmodal-container .nav-tabs > li > a {
	background-color: #f6f6f6;
	border-radius: 0;
	border: none;
	margin: 0;
	font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #dddddd;
}

.loginmodal-container .nav-tabs > li.active > a {
	background-color: #fff;
	border: none;
	color: #333146;
}

.loginmodal-container .nav-tabs >li.active> a, 
.loginmodal-container .nav-tabs >li.active >a:focus, 
.loginmodal-container .nav-tabs>li.active >a:hover

 {
	border: 0;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=text]::-webkit-input-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}

.loginmodal-container input[type=text]::-moz-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}

.loginmodal-container input[type=text]:-ms-input-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}

.loginmodal-container input[type=text]:-moz-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}

.loginmodal-container input[type=password]::-webkit-input-placeholder {
	font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}

.loginmodal-container input[type=password]::-ms-input-placeholder {
	font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}
.loginmodal-container input[type=password]::-moz-placeholder {
	font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}

.loginmodal-container input[type=password]:-moz--placeholder {
	font-family: Montserrat;
  font-size: 14px;
  color: #dddddd;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 58px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border: 2px solid #dadfea;
  border-radius: 2px;
  padding: 0 15px;
  outline: none;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  outline: none;
}



.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border-radius: 3px;
  background-color: #8dd64f;
  padding: 17px 0px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
}

.loginmodal-submit:hover {
  
  
  text-shadow: 0 1px rgba(0,0,0,0.3);
}

.loginmodal-container .tab-content {
	padding: 60px 120px;
	background-color: #fff;
}

.loginmodal-container .tab-content .or {
    margin: 20px;
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
    color: #afafaf;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  transition: opacity ease 0.5s;
} 

.login-help{
  text-align: center;
  margin-top: 25px;
}

.login-help .forgetpass a,
.login-help .ifregester a,
.login-help .haveaccount a,
{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #8dd64f;
  text-transform: uppercase;
}

.login-help .term span {
	font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #8dd64f;
}

.login-help .ifregester,
.login-help .haveaccount,
.login-help .term {
  font-family: Montserrat;
  font-size: 14px;
  text-align: left;
  color: #6f6e72;
  margin-top: 15px;
  text-align: center;
}



.login-help .ifregester a {
	margin-left: 10px;
}




/* Shared */
.loginBtn {
	display: block;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0 15px 0 56px;
    border: none;
    text-align: left;
    border-radius: 0;
    font-size: 14px;
    color: #FFF;
    height: 58px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 600;
}

.loginBtn + .loginBtn {
	margin-top: 20px;
}
.loginBtn:before {
  content: "";
  position: absolute;
  top: auto;
  left: 25px;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #3b5998;
  
}


.loginBtn--facebook:before {
  	content: "\f09a";
    font-family: FontAwesome;
    font-size: 14px;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  background: #d53939;
}
.loginBtn--google:before {
	content: "\f0d5";
    font-family: FontAwesome;
    font-size: 14px;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

@media screen and (max-width: 600px) {
	.loginmodal-container {
		width: 400px;
	}

	.loginmodal-container .tab-content {
		padding: 30px;
	}
}

@media screen and (max-width: 480px) {
	.loginmodal-container {
		width: 350px;
	}

	.loginmodal-container .tab-content {
		padding: 15px;
	}
}